<html>

<head>
<title>igotu GPS</title>
</head>

<body>
<div class=WordSection1>

<ol style='margin-top:0cm' start=1 type=1>
 <li class=MsoNormal>Download and install ‘igotu2gpx’: <a
     href="https://launchpad.net/igotu2gpx">https://launchpad.net/igotu2gpx</a></li>
 <ol style='margin-top:0cm' start=1 type=a>
  <li class=MsoNormal>If you have a Linux machine you can install this
      directly, otherwise:</li>
  <li class=MsoNormal>In theory this will run on Windows and OSX. I didn’t
      manage to get it to work well on Windows, and I haven’t tried it on a
      Mac. My recommendation is to use it with Linux. If you do that you can
      either install Ubuntu (<a href="http://www.ubuntu.com/">http://www.ubuntu.com/</a>)
      or similar on an old laptop/ PC, dual-boot, or install on a virtual
      machine. The last is what I have. I have ‘VirtualBox’ (<a
      href="https://www.virtualbox.org/">https://www.virtualbox.org/</a>) to
      run the virtual machine, then install Ubuntu/ Linux on that.</li>
 </ol>
 <li class=MsoNormal>Download data from GPS tags using ‘igotu2gpx’. There is a
     graphical user interface (gui), but that doesn’t have as many options as
     the terminal commands. So I run ‘igotu2gpx’ from the terminal using the
     following commands to get a bunch of different information and files
     (examples of downloaded files are in the ‘guillemot_example.zip’ file):</li>
 <ol style='margin-top:0cm' start=1 type=a>
  <li class=MsoNormal>sudo igotu2gpx dump --format details &gt; g31_details.txt</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:108.0pt;text-indent:-108.0pt'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>This is the main file we want, it contains the raw GPS fix information.
It’s in a bit of an odd format, but we can fix that (see #3 below).</p>

<ol style='margin-top:0cm' start=2 type=1>
 <ol style='margin-top:0cm' start=2 type=a>
  <li class=MsoNormal>sudo igotu2gpx dump --format raw &gt; g31_raw.txt</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:108.0pt;text-indent:-108.0pt'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Get all data off the tag. This is in some compressed format. Currently I
don’t have a use for this file, but it feels good to have in case it can be
useful in the future!</p>

<ol style='margin-top:0cm' start=2 type=1>
 <ol style='margin-top:0cm' start=3 type=a>
  <li class=MsoNormal>sudo igotu2gpx dump --format gpx &gt; g31_test.gpx</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:108.0pt;text-indent:-108.0pt'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Produces a GPX file, which can be viewed in Google Earth and various
other programs.</p>

<ol style='margin-top:0cm' start=2 type=1>
 <ol style='margin-top:0cm' start=4 type=a>
  <li class=MsoNormal>sudo igotu2gpx dump --format kml &gt; g31_test.kml</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:108.0pt;text-indent:-108.0pt'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Produces a kml file, good for Google Earth.</p>

<ol style='margin-top:0cm' start=2 type=1>
 <ol style='margin-top:0cm' start=5 type=a>
  <li class=MsoNormal>sudo igotu2gpx info &gt; g31_config.txt</li>
 </ol>
</ol>

<p class=MsoNormal style='margin-left:108.0pt;text-indent:-108.0pt'><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Downloads the tag configuration data. I find this quite nice, as you can
check then that the tag was configured as you thought. Or if you forget to note
down how you configured the tag!</p>

<ol style='margin-top:0cm' start=3 type=1>
 <li class=MsoNormal>Convert the *_details.txt file (from 2.b. above) using R.</li>
 <ol style='margin-top:0cm' start=1 type=a>
  <li class=MsoNormal>Have a look at the example file ‘g11_details.txt’. You
      can see that you get a bunch of information in addition to that you have
      with the @trip software. There is EHPE (estimated horizontal positional
      error), and also the id numbers of the satellites used, from which you
      can work out the number of satellites used for a fix. The file is in a
      funny format though, not immediately easy to use – so we need to convert
      it.</li>
  <li class=MsoNormal>I have written a function for R that processes the
      *_details.txt file into a useful format. In the attached ‘R files’ see
      ‘parse_igotu2gpx_txt.R’. To work out how to use that see
      ‘parse_igotu2gpx_txt_example.R’.</li>
 </ol>
</ol>

<p class=MsoNormal>If you are feeling ambitious then you can have a look at
‘parse_igotu2gpx_txt_to_db.R’ which is an R script wrote to process all the
*_details.txt files in a directory and output them to a database table (MS
Access in my case). This could be useful if you are collecting a lot of data
from many birds, so want to efficiently extract all this data.</p>

</div>

</body>
</html>
